services:
  - type: web
    name: code-refine
    env: python
    plan: free
    buildCommand: |
      apt-get update
      apt-get install -y ffmpeg
      pip install -r requirements.txt
    startCommand: python app.py
